@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/Content/images/bg-01.jpg');">
    @*<h2 class="ltext-105 cl0 txt-center">
        Giới Thiệu
    </h2>*@
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Tôn trọng khách hàng và đối tác
                    </h3>
                    <p class="stext-113 cl6 p-b-26">
                        Các sản phẩm được lên men từ sữa tươi tiệt trùng kết hợp với phô mai nhập khẩu  tạo ra sản phẩm Yogurt với hương vị vô cùng đặc biệt. Giúp tụi mình lên men được #Yogurt không chỉ tốt cho sức khỏe mà còn khiến vị giác không thể chối từ. Ngoài ra, để giúp đa dạng cho khẩu vị, tụi mình còn mix thêm các vị trái cây.
                    </p>
                    <p class="stext-113 cl6 p-b-26">
                        <b>Nguyên liệu chính:</b>
                        <br />
                        - Sữa tươi Vinamilk, sữa đặc cao cấp, phô mai nhập khẩu.
                        <br />
                        - Lý do mình dùng sữa vinamilk thay thế cho sữa tươi như truyền thống:
                        <br />
                        + Giúp đảm bảo chất lượng và sản lượng sữa đầu vào.
                        <br />
                        + Trong sữa Vinamilk đã có lượng chất bảo quản rất thấp, giúp yaourt được bảo quản lâu hơn và chất lượng không thay đổi.
                        <br />
                        Cách bảo quản:
                        <br />
                        Nhiệt độ lý tưởng : 2 -6 độ C.
                        <br />
                        Khi sản phẩm được bảo quản đúng, hạn dử dụng lên đến 20 ngày. Và đặc biệt, Yaourt càng để lâu sẽ càng dẻo.
                    </p>
                    <p class="stext-113 cl6 p-b-26">
                        <b>Cách bảo quản:</b>
                        <br />
                        Nhiệt độ lý tưởng : 2 -6 độ C.
                        <br />
                        Khi sản phẩm được bảo quản đúng, hạn dử dụng lên đến 20 ngày. Và đặc biệt, Yaourt càng để lâu sẽ càng dẻo.
                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="@Url.Content("~/Content/images/about-01.jpg")" alt="IMG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Trách nhiệm của Chúng Tôi
                    </h3>

                    <p class="stext-113 cl6 p-b-1">
                        1. Tôn trọng khách hàng và đối tác:
                    </p>

                    <div class="bor16 p-l-26 p-b-9 m-t-10">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            - Chúng tôi đối xử trung thực và chính trực trong giao tiếp với đối tác, không làm hàng giả, khuyến mãi giả, và tuân thủ luật pháp.
                            <br />- Chúng tôi tôn trọng các tiêu chuẩn đã được thiết lập và hành động một cách đạo đức.
                        </p>
                    </div>
                    <br />
                    <p class="stext-113 cl6 p-b-1">
                        2. Chất lượng sản phẩm và an toàn thực phẩm:
                    </p>

                    <div class="bor16 p-l-26 p-b-9 m-t-10">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            - Chúng tôi đảm bảo chất lượng và an toàn vệ sinh thực phẩm của sữa chua.
                            <br />- Chúng tôi không sử dụng trái phép các nhãn hiệu nổi tiếng, vi phạm bản quyền, và phá giá.
                            <br />- Luôn đáp ứng đầy đủ các chỉ tiêu an toàn vệ sinh thực phẩm của nhà nước.
                        </p>
                    </div>
                    <br />
                    <p class="stext-113 cl6 p-b-1">
                        3. Quản lý kinh doanh và marketing:
                    </p>

                    <div class="bor16 p-b-9 p-l-26 m-t-10">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            - Chúng tôi sử dụng các chiến lược marketing trung thực và không quảng cáo sai sự thật.
                            <br />- Chúng tôi tôn trọng quy định về giá cả và đảm bảo tính công bằng trong giao dịch.
                        </p>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="@Url.Content("~/Content/images/about-02.jpg")" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
